body{
    font-family: 'Poppins', sans-serif;
}

section.footer{
    background-color: #e8f0f8!important;
}

.carousel-item img{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .carousel-item img{
        width: auto !important;
        height: 450px;
    }
}
