<div class="container">

    <h1 class="my-4">about</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat eaque placeat distinctio vel. Ipsa illum doloremque voluptate magnam id illo, itaque consequuntur vitae quisquam officia ad! Aliquid optio excepturi quos!</p>
</div>